GENERIC_TIME all=y
RT_MUTEXES all=y
HIGH_RES_TIMERS all=y
NO_HZ all=n
HIGH_RES_RESOLUTION all=1000
RTC_HISTOGRAM all=n
BLOCKER all=n
LPPTEST all=n
PRINTK_IGNORE_LOGLEVEL all=n
DEBUG_RT_MUTEXES all=n
RT_MUTEX_TESTER all=n
WAKEUP_TIMING all=n
CRITICAL_IRQSOFF_TIMING all=n
PLIST all=y
PREEMPT_NONE all=n
PREEMPT_VOLUNTARY all=n
PREEMPT_DESKTOP all=n
PREEMPT_RT all=y
PREEMPT all=y
PREEMPT_SOFTIRQS all=y
PREEMPT_HARDIRQS all=y
PREEMPT_BKL all=y
CLASSIC_RCU all=n
PREEMPT_RCU all=y
RCU_TRACE all=n
RCU_STATS all=n
DEBUG_PREEMPT all=n
CRITICAL_PREEMPT_TIMING all=n
GENERIC_TIME_VSYSCALL all=n
