CONFIG_TOI_CORE=y

#
# Image Storage (you need at least one allocator)
#
CONFIG_TOI_FILE=m
CONFIG_TOI_SWAP=m

#
# General Options
#
CONFIG_TOI_CRYPTO=m
CONFIG_TOI_USERUI=m
CONFIG_TOI_USERUI_DEFAULT_PATH="/usr/sbin/tuxoniceui_fbsplash"
CONFIG_TOI_KEEP_IMAGE=y
CONFIG_TOI_REPLACE_SWSUSP=y
# CONFIG_TOI_IGNORE_LATE_INITCALL is not set
CONFIG_TOI_DEFAULT_WAIT=25
CONFIG_TOI_DEFAULT_EXTRA_PAGES_ALLOWANCE=2000
# CONFIG_TOI_CHECKSUM is not set
CONFIG_TOI=y
CONFIG_TOI_EXPORTS=y

#
# One more cryptographic module
#
CONFIG_CRYPTO_LZF=m
