CONFIG_GENERIC_TIME=y
CONFIG_RT_MUTEXES=y
CONFIG_HIGH_RES_TIMERS=y
# CONFIG_NO_HZ is not set
CONFIG_HIGH_RES_RESOLUTION=1000
# CONFIG_RTC_HISTOGRAM is not set
# CONFIG_BLOCKER is not set
# CONFIG_LPPTEST is not set
# CONFIG_PRINTK_IGNORE_LOGLEVEL is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_RT_MUTEX_TESTER is not set
# CONFIG_WAKEUP_TIMING is not set
# CONFIG_CRITICAL_IRQSOFF_TIMING is not set
CONFIG_PLIST=y
# CONFIG_PREEMPT_NONE is not set
# CONFIG_PREEMPT_VOLUNTARY is not set
# CONFIG_PREEMPT_DESKTOP is not set
CONFIG_PREEMPT_RT=y
CONFIG_PREEMPT=y
CONFIG_PREEMPT_SOFTIRQS=y
CONFIG_PREEMPT_HARDIRQS=y
CONFIG_PREEMPT_BKL=y
# CONFIG_CLASSIC_RCU is not set
CONFIG_PREEMPT_RCU=y
# CONFIG_RCU_TRACE is not set
# CONFIG_RCU_STATS is not set
# CONFIG_DEBUG_PREEMPT is not set
# CONFIG_CRITICAL_PREEMPT_TIMING is not set
# CONFIG_TIMER_STATS is not set
# CONFIG_GENERIC_TIME_VSYSCALL is not set
