CONFIG_BLK_FCACHE=y
CONFIG_SWAP_PREFETCH=y
# CONFIG_HZ_250_NODEFAULT is not set

CONFIG_FB_SPLASH=y


# CONFIG_FB_VESA_STD is not set
CONFIG_FB_VESA_TNG=y
CONFIG_FB_VESA_DEFAULT_MODE="off"


CONFIG_SQUASHFS=m
# CONFIG_SQUASHFS_EMBEDDED is not set
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3
# CONFIG_SQUASHFS_VMALLOC is not set


CONFIG_NET_SCH_ESFQ=m


CONFIG_IMQ=m
# CONFIG_IMQ_BEHAVIOR_AA is not set
CONFIG_IMQ_BEHAVIOR_AB=y
# CONFIG_IMQ_BEHAVIOR_BA is not set
# CONFIG_IMQ_BEHAVIOR_BB is not set
CONFIG_IMQ_NUM_DEVS=2


CONFIG_TAHOE9XX=m


CONFIG_ATM_DD=m


CONFIG_REISER4_FS=m
# CONFIG_REISER4_DEBUG is not set


CONFIG_SK98LIN_NAPI=y
