TOI_CHECKSUM all=y
TOI_CLUSTER all=n
TOI_CORE all=m
TOI_CORE_EXPORTS all=y
TOI_CRYPTO all=m
TOI_CRYPTO_EXPORTS all=y
TOI_DEFAULT_POST_HIBERNATE all=""
TOI_DEFAULT_PRE_HIBERNATE all=""
TOI_DEFAULT_WAIT all=25
TOI_EXPORTS all=y
TOI_FILE all=m
TOI_FILE_EXPORTS all=y
TOI_KEEP_IMAGE all=n
TOI_PAGEFLAGS_EXPORTS all=y
TOI_PAGEFLAGS_TEST all=m
TOI_REPLACE_SWSUSP all=y
TOI_SWAP all=m
TOI_SWAP_EXPORTS all=y
TOI_USERUI all=m
TOI_USERUI_DEFAULT_PATH all="/sbin/tuxonice_fbsplash"
TOI_USERUI_EXPORTS all=y
