CONFIG_CRYPTO_LZF=m

CONFIG_SUSPEND2_CRYPTO=y

CONFIG_SUSPEND2=y
CONFIG_SUSPEND2_FILE=y
CONFIG_SUSPEND2_SWAP=y

# CONFIG_SUSPEND2_KEEP_IMAGE is not set
# CONFIG_SUSPEND2_REPLACE_SWSUSP is not set

CONFIG_SUSPEND2_CORE=m
CONFIG_SUSPEND2_USERUI=m
CONFIG_SUSPEND2_CHECKSUM=y

CONFIG_SUSPEND2_DEFAULT_WAIT=25
