PPC64 all=n
PPC32 all=y
PPC_MERGE all=y
MMU all=y
GENERIC_HARDIRQS all=y
GENERIC_HWEIGHT all=y
GENERIC_CALIBRATE_DELAY all=y
PPC all=y
EARLY_PRINTK all=y
GENERIC_NVRAM all=y
SCHED_NO_NO_OMIT_FRAME_POINTER all=y
ARCH_MAY_HAVE_PC_FDC all=y
PPC_OF all=y
PPC_UDBG_16550 all=y
GENERIC_TBSYNC all=y
DEFAULT_UIMAGE all=n

#
# Processor Type
#
CLASSIC32 all=y
PPC_82xx all=n
PPC_83xx all=n
PPC_85xx all=n
PPC_86xx all=n
PPC_8xx all=n
40x all=n
44x all=n
8xx all=n
E200 all=n
6xx all=y
PPC_FPU all=y
ALTIVEC all=y
PPC_STD_MMU all=y
PPC_STD_MMU_32 all=y
SMP all=y
NR_CPUS all=32

#
# Timer frequency
#
HZ_100 all=n
HZ_300 all=n
HZ_1000 all=y
HZ_1500 all=n
HZ_2000 all=n
HZ_3000 all=n
HZ_4000 all=n
HZ_5000 all=n
HZ_7500 all=n
HZ_10000 all=n
HZ all=1000

#
# Machine type
#
PPC_MULTIPLATFORM all=y
PPC_ISERIES all=n
EMBEDDED6xx all=n
APUS all=n
PPC_CHRP all=y
PPC_EFIKA all=n
PPC_LITE5200 all=n
PPC_PMAC all=y
UDBG_RTAS_CONSOLE all=n
MPIC all=y
PPC_RTAS all=y
RTAS_ERROR_LOGGING all=n
RTAS_PROC all=y
MMIO_NVRAM all=n
PPC_MPC106 all=y
PPC_970_NAP all=n
CPU_FREQ all=y
CPU_FREQ_TABLE all=y
CPU_FREQ_DEBUG all=n
CPU_FREQ_STAT all=m
CPU_FREQ_STAT_DETAILS all=n

#
# Default CPUFreq governor
#
CPU_FREQ_DEFAULT_GOV_PERFORMANCE all=n
CPU_FREQ_DEFAULT_GOV_USERSPACE all=y
CPU_FREQ_GOV_PERFORMANCE all=m
CPU_FREQ_GOV_POWERSAVE all=m
CPU_FREQ_GOV_USERSPACE all=y
CPU_FREQ_GOV_ONDEMAND all=m
CPU_FREQ_GOV_CONSERVATIVE all=m
CPU_FREQ_PMAC all=y
PPC601_SYNC_FIX all=n
TAU all=y
TAU_INT all=n
TAU_AVERAGE all=n

#
# Kernel options
#
HIGHMEM all=y

#
# RCU implementation type:
#
RWSEM_XCHGADD_ALGORITHM all=y
KEXEC all=y
HOTPLUG_CPU all=y
IRQ_ALL_CPUS all=n
ARCH_FLATMEM_ENABLE all=y
PROC_DEVICETREE all=y
CMDLINE_BOOL all=n
SECCOMP all=y
ISA_DMA_API all=y

#
# Bus options
#
ISA all=y
GENERIC_ISA_DMA all=y
PPC_I8259 all=y
PPC_INDIRECT_PCI all=y
PCI all=y
PCI_DOMAINS all=y

#
# Advanced setup
#
ADVANCED_OPTIONS all=n

#
# Default settings for advanced configuration options are used
#
HIGHMEM_START all=0xfe000000
LOWMEM_SIZE all=0x30000000
KERNEL_START all=0xc0000000
TASK_SIZE all=0x80000000
BOOT_LOAD all=0x00800000


PROFILING all=y
OPROFILE all=m

#
# Early debugging (dangerous)
#
PPC_EARLY_DEBUG all=n
PPC_EARLY_DEBUG_LPAR all=n
PPC_EARLY_DEBUG_G5 all=n
PPC_EARLY_DEBUG_MAPLE all=n
PPC_EARLY_DEBUG_ISERIES all=n


# from common
IDE all=y
BLK_DEV_IDE all=y
AGP all=m
FB_VGA16 all=n
MDA_CONSOLE all=n
FB_NVIDIA all=y
FB_RIVA all=y
FB_RADEON all=y
FB_ATY128 all=y
FB_ATY all=y
APM_EMULATION all=m
SERIAL_OF_PLATFORM all=m
USB_OHCI_HCD_PPC_OF all=y
USB_OHCI_HCD_PPC_OF_BE all=y
USB_OHCI_HCD_PPC_OF_LE all=y
USB_OHCI_HCD_PCI all=y

# 
# Kernel hacking
#
KPROBES all=n
DEBUG_STACKOVERFLOW all=n
DEBUG_STACK_USAGE all=n
DEBUG_PAGEALLOC all=n
DEBUGGER all=n
BDI_SWITCH all=n
BOOTX_TEXT all=n
