#
# Grsecurity
#
GRKERNSEC all=y

#
# Filesystem Protections
#
GRKERNSEC_PROC all=y
GRKERNSEC_PROC_USER all=n
GRKERNSEC_PROC_USERGROUP all=y
GRKERNSEC_PROC_GID all=17
GRKERNSEC_PROC_ADD all=y
GRKERNSEC_LINK all=y
GRKERNSEC_FIFO all=y

#
# Kernel Auditing
#
GRKERNSEC_PROC_IPADDR all=y

#
# Executable Protections
#
GRKERNSEC_SHM all=y

#
# Sysctl support
#
GRKERNSEC_SYSCTL all=y
GRKERNSEC_SYSCTL_ON all=n
